body {
  background-color: #daccb4;
}
body a {
  text-decoration: none;
}
body h2 {
  font-size: 80px;
  text-align: center;
  display: block;
  color: #fff;
}
body #home {
  position: fixed;
  left: 30px;
  top: 30px;
}
body #search {
  position: fixed;
  right: 30px;
  top: 30px;
}
body #map {
  width: 930px;
  height: 614px;
  display: block;
  margin: auto;
  position: relative;
}
body #map .center {
  width: 100%;
  display: block;
  margin: auto;
  position: absolute;
}
body #map .btn {
  position: absolute;
  width: 35px;
  height: 35px;
}
body #map .btn img {
  display: block;
  width: 35px;
  height: 35px;
}
body #map .btn .box {
  padding: 10px 20px;
  border: 4px dashed #fff;
  position: absolute;
  display: none;
}
body #map .btn .box p {
  color: #fff;
}
body #map .btn .box .tit {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}
body #map .btn .box .desc {
  font-size: 20px;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;
}
body #map .btn:hover .box {
  display: block;
}
body #map .c1 {
  left: 90px;
  top: 230px;
}
body #map .c1 .box {
  left: -280px;
  top: -80px;
}
body #map .c2 {
  left: 380px;
  top: 150px;
}
body #map .c2 .box {
  right: 40px;
  top: -120px;
}
body #map .c3 {
  left: 410px;
  top: 190px;
}
body #map .c3 .box {
  right: -270px;
  top: -120px;
}
body #map .c4 {
  left: 460px;
  top: 340px;
}
body #map .c4 .box {
  right: -270px;
  top: -20px;
}
body #map .c5 {
  left: 710px;
  top: 260px;
}
body #map .c5 .box {
  right: -320px;
  top: -180px;
}
body #map .c6 {
  left: 810px;
  top: 190px;
}
body #map .c6 .box {
  right: -320px;
  top: -180px;
}
.button {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: block;
}
.btn-group {
  display: flex;
  padding-top: 120px;
  padding-bottom: 60px;
}
.btn-group .btn {
  flex-grow: 1;
  background-color: #eaca78;
  margin: 0 30px;
  height: 110px;
}
.btn-group .btn img {
  margin: -60px auto 0 auto;
  height: 80px;
  display: block;
}
.btn-group .btn p {
  display: block;
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}
/* swiper */
.swiper-container {
  width: 900px;
  margin: auto;
  display: block;
}
.swiper-container .swiper-slide {
  height: 400px;
  border: 2px dashed #fff;
  box-sizing: border-box;
  position: relative;
}
.swiper-container .swiper-slide a {
  display: block;
}
.swiper-container .swiper-slide .toptxt {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.swiper-container .swiper-slide .foottxt {
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: 10px;
  text-align: center;
}
.swiper-container .swiper-slide .foottxt .tit {
  font-size: 16px;
  color: #fff;
  display: block;
}
.swiper-container .swiper-slide .foottxt .txt {
  font-size: 12px;
  color: #fff;
}
.form {
  max-width: 1310px;
  width: 100%;
  margin: 45px auto;
}
.form .fn-clear {
  overflow: hidden;
  width: 100%;
}
.form .fn-clear .fl {
  float: left;
}
.form .box {
  background-color: #a0ab9a;
  border-radius: 12px;
  padding: 40px 16px;
  width: 26%;
  margin: 30px 2%;
}
.form .box .tit {
  border-bottom: 2px dashed #fff;
  line-height: 90px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.form .box .c1txt {
  text-align: center;
  font-size: 16px;
  padding-bottom: 10px;
  color: #fff;
  border-bottom: 2px dashed #fff;
}
.form .box .fn-clear {
  overflow: hidden;
  border-bottom: 2px dashed #fff;
}
.form .box .fn-clear .fl {
  width: 50%;
}
.form .box .c2box {
  margin: 10px 0;
  height: 200px;
  box-sizing: border-box;
  color: #fff;
}
.form .box .c2box:first-child {
  border-right: 2px dashed #fff;
  box-sizing: border-box;
}
.form .box .c2box {
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}
