@media only screen and (min-width: 375px) and (max-width: 767px){
	body{
		margin:0;
		padding: 0;
	}
	img{
		margin:0;
		padding: 0;
	}
	.background{
		z-index: -999;
	}
	.box{
		position: fixed;
		left: 60px;
		top: 140px;
	}
	.buttons{
		position: fixed;
		top: 622px;
		left: 101px;
	}
}